use strict;
use warinigs;

my $conf = {
    auth_token = 'hipchat_auth_token',
    room       = 'hipchat_callout_room_name',
    url        = "https://api.hipchat.com/v2/room/$room/notification?auth_token=$auth_token",
}
