use strict;
use warnings;

+{
    view_user => {
        permit_params => [qw/name id/],
    },
    room       => '',
    auth_token => '',
    DBI        => [
        "dbi:SQLite:dbname=/path/to/db/callout.db",
        '',
        '',
        +{
            sqlite_unicode => 1,
            RootClass => 'DBIx::Sunny',
        },
    ],
};
